
.headerButton {
    height: 40px;
    border-radius: 8px;
    margin: 10px 0 15px;
    background-color: var(--muted-gold);
    font-family: 'CastlemarRegular', serif;
    font-size: 25px;
    color: black;
    border-top: 4px ridge var(--muted-gold);
    border-left: 4px groove var(--muted-gold);
    border-right: 4px ridge var(--muted-gold);
    border-bottom: 4px groove var(--muted-gold);
    box-shadow: var(--shadow);
}
.headerButton:hover {
    background-color: var(--bright-gold);
}
