@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bright-gold: #DBA338;
  --muted-gold: #C3883E;
  --dark-red: #471107;
  --bright-red: #811f0d;
  --background: #523C2E;
  --shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}

body {
  color: var(--bright-gold);
  background: var(--background);
  line-height: normal;
}
input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
/*  transition:
          color calc(infinity * 1s) step-end,
          background-color calc(infinity * 1s) step-end;*/
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0) inset !important;
  background-color: transparent;
  color: var(--bright-gold);
}

.golden-border {
  @apply border border-[1px] border-bright-gold shadow-custom-shadow;
}
